

.wrapPage {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 76px;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 14px;
    text-align: center;

    .categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;

    & div {
    padding: 4px 32px;
    align-items: flex-start;
    background-color: var(--grey);
    letter-spacing: 4px;
    text-transform: uppercase;
    }
}

}



.firstImg {
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 21.3%, 100% 0%, 100% 100%, 0% 100%);
    margin-bottom: 23px;
}

.secondImg, .firstImg, .thirdImg {
    display: flex;
    gap: 23px;

    img {
        width: 100%;
        object-fit: cover;
        width: 100%;
    }
    }

.citation {  
    width: 100%;

    .openQuote {
        margin-bottom: 10px;
    }

    p {
        text-align: center;
    }

    img {
        width: 45px;
        display: block;
    }

    .closeQuote {
        rotate: 180deg;
        margin-left: auto;
    }
}

.informations, .citation, .fourthImg, .firstText, .contenu   {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.contenu { 
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
    text-align: center;
}

.fourthImg {
    p {
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
    }
}

.btn {
    text-align: center;
    margin-top: 76px;
    
    a {
        color: white;
        text-decoration: none;
        padding: 12px 24px;
        background-color: var(--black);
        font-size: 14px;
        transition: .3s;
    }
}

.btn:hover {
    
    a {
        color: white;
        background-color: var(--hover);
    }
}

@media only screen and (max-width: 992px) {
    .secondImg, .firstImg, .thirdImg {
        flex-direction: column-reverse;
    }
  }