

.wrapPage {
    display: flex;
    width: 100%;
    padding: 0px 23.61px;
    flex-direction: column;
    align-items: center;
    gap: 76.08px;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14.578px;
    font-size: 14.592px;
    text-align: center;

    .categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 23.61px;

    & div {
    padding: 4px 32px;
    align-items: flex-start;
    background-color: var(--grey);
    letter-spacing: 3.502px;
    text-transform: uppercase;
    }
}

}



.firstImg {
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 21.3%, 100% 0%, 100% 100%, 0% 100%);
    margin-bottom: 23px;
}

.secondImg, .firstImg, .thirdImg {
    display: flex;
    gap: 23.61px;

    img {
        width: 100%;
        object-fit: cover;
        width: 100%;
    }
    }

.citation {  
    width: 100%;

    .openQuote {
        margin-bottom: 10px;
    }

    p {
        text-align: center;
    }

    img {
        width: 45px;
        display: block;
    }

    .closeQuote {
        rotate: 180deg;
        margin-left: auto;
    }
}

.informations, .citation, .fourthImg, .firstText, .contenu   {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contenu { 
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 76.08px;
    text-align: center;
}

.fourthImg {
    p {
        font-size: 14.592px;
        font-style: italic;
        font-weight: 300;
    }
}

.btn {
    a {
        color: white;
        text-decoration: none;
        padding: 12px 24px;
        background-color: var(--black);
        font-size: 14.592px;
        transition: .3s;
    }
}

.btn:hover {
    
    a {
        color: white;
        background-color: var(--hover);
    }
}